$color-base: #50C346;
$color-green: #1C9C1F;
$color-green-dark: #007700;
$color-grey: #A2AF9F;
$color-grey-dark: #3F4A3C;
$color-red: #FF005B;
$color-red-dark: #D60505;
$color-blue: #0094FF;
$color-blue-dark: #006AC2;
$color-black: #111111;
$color-white: #eeeeee;